@charset "utf-8";
/* CSS Document */
/*----------功能与服务-----------*/
.server{
	background-color:#a92328;
	width:100%;
	height:700px;
	}
.server .server-penal{
	}
.server-penal .server-penal-h{
	text-align:center;
	height:140px;
	line-height:130px;
	font-size:24px;
	letter-spacing:5px;
	color:#FFF;
	}
.server-penal .server-penal-c{
	 width:100%;
	 padding:20px;
	} 
.server-penal-c .server-menu{
	width:350px;
	height:465px;
	float:left;
	} 
.server-menu .border{
	height:24px;
	background-color:#FFF;
	width:100%;
	}
.server-menu .top-border{
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	}
.server-menu .bottom-border{
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
	}
.server-menu .server-menu-list{
	height:417px;
	width:100%;
	background-color:#2d2d2d;
	}
.server-menu-list ul{
	display:block;
	padding:33px 25px 33px 10px;
	}
.server-menu-list ul li{
	background-color:#FFF;
	display:block;
	float:left;
	line-height:100px;
	height:90px;
	width:90px;
	margin-left:15px;
	margin-top:20px;
	cursor:pointer;
	}
.server-menu-list ul .fzjh{
	background:url(../../img/web/paasicon.png) 0px 0px;
	}
.server-menu-list ul .fzjh:hover{
	background:url(../../img/web/paasicon.png) 0px 90px;
	}
.server-menu-list ul .fzjh-select{
	background:url(../../img/web/paasicon.png) 0px 90px;;
	}
.server-menu-list ul .jkgl{
	background:url(../../img/web/paasicon.png) 662px 0px;
	}
.server-menu-list ul .jkgl:hover{
	background:url(../../img/web/paasicon.png) 662px 90px;
	}
.server-menu-list ul .jkgl-select{
	background:url(../../img/web/paasicon.png) 662px 90px;
	}
.server-menu-list ul .rwdd{
	background:url(../../img/web/paasicon.png) 568px 0px;
	}
.server-menu-list ul .rwdd:hover{
	background:url(../../img/web/paasicon.png) 568px 90px;
	}
.server-menu-list ul .rwdd-select{
	background:url(../../img/web/paasicon.png) 568px 90px;
	}
.server-menu-list ul .fbscc{
	background:url(../../img/web/paasicon.png) 473px 0px;
	}
.server-menu-list ul .fbscc:hover{
	background:url(../../img/web/paasicon.png) 473px 90px;
	}
.server-menu-list ul .fbscc-select{
	background:url(../../img/web/paasicon.png) 473px 90px;
	}
.server-menu-list ul .kzt{
	background:url(../../img/web/paasicon.png) 377px 0px;
	}
.server-menu-list ul .kzt:hover{
	background:url(../../img/web/paasicon.png) 377px 90px;
	}
.server-menu-list ul .kzt-select{
	background:url(../../img/web/paasicon.png) 377px  90px;
	}
.server-menu-list ul .znly{
	background:url(../../img/web/paasicon.png) 280px 0px;
	}
.server-menu-list ul .znly:hover{
	background:url(../../img/web/paasicon.png) 280px 90px;
	}
.server-menu-list ul .znly-select{
	background:url(../../img/web/paasicon.png) 280px 90px;
	}
.server-menu-list ul .jsfw{
	background:url(../../img/web/paasicon.png) 185px 0px;
	}
.server-menu-list ul .jsfw:hover{
	background:url(../../img/web/paasicon.png) 185px 90px;
	}
.server-menu-list ul .jsfw-select{
	background:url(../../img/web/paasicon.png) 185px 90px;
	}
.server-menu-list ul .sjk{
	background:url(../../img/web/paasicon.png) 90px 0px;
	}
.server-menu-list ul .sjk:hover{
	background:url(../../img/web/paasicon.png) 90px 90px;
	}
.server-menu-list ul .sjk-select{
	background:url(../../img/web/paasicon.png) 90px 90px;
	}
.server-menu-list ul .dianji{
	background:url(../../img/web/dianji.png) no-repeat center center;
	}
.server-penal-c .server-info{
	width:570px;
	height:465px;
	float:right;
	overflow:hidden;
	}
.server-info .server-info-c{
    width:570px;
	height:465px;
	color:#FFF;
	font-size:14px;
	line-height:24px;
	}
.server-info-c h2{
	color:#FFF;
	height:35px;
	line-height:35px;
    }
.server-info-c p{
	text-indent:20px;
    }
.server-info-c ul {
	text-indent:30px;
}
.server-info-c ul li{
	color:#FFF;
	list-style:circle inside ;
}
/*-------------------功能与服务结束--------------------*/

/*-------------------成功案例--------------------*/
.case{
	background-color:#140c26;
	width:100%;
	height:460px;
	}
.case .case-penal{
	position:absolute;
	left:50%;
	width:1064px;
	margin-left:-532px;
	}
.case-penal .case-penal-h{
	text-align:center;
	height:140px;
	line-height:130px;
	font-size:28px;
	letter-spacing:5px;
	color:#FFF;
	}
.case-penal .case-penal-c{
	width:100%;
	height:235px;
	}
.case-penal-c .case-prev , .case-next{
	width:40px;
	height:190px;
	cursor:pointer;
	}
.case-penal-c .case-prev{
	float:left;
	background:url(../../img/web/prev.png) no-repeat center right;
	}
.case-penal-c .case-prev:hover{
	background:url(../../img/web/prev1.png) no-repeat center right;
	}
.case-penal-c .case-next{
	float:right;
	background:url(../../img/web/next.png) no-repeat center  left;
	}
.case-penal-c .case-next:hover{
	background:url(../../img/web/next1.png) no-repeat center left;
	}
.case-penal-c .case-penal-imgpenal{
	width:984px;
	height:235px;
	float:left;
	overflow:hidden;
	}
.case-penal-imgpenal #imgpanel{
	height:230px;
	}
.case-penal-imgpenal ol li{
	float:left;
	width:231px;
	height:245px;
	margin-left:12px;
	cursor:pointer;
	}
.case-penal-imgpenal ol li label{
	height:45px;
	line-height:45px;
	display:block;
	color:#77b5e5;
	font-size:12px;
	text-align:center;
	}
.case-penal-imgpenal .case-img{
	width:100%;
	height:195px;
	text-align:center;
	}
/*-------------------成功案例结束-----------------*/

/*-------------------资费--------------------*/
.price{
	width:100%;
	height:450px;
	background-color:#FFF;
	}
.price-penal .case-penal-h{
	text-align:center;
	height:110px;
	line-height:130px;
	font-size:28px;
	letter-spacing:5px;
	color:#140c26;
	}
.case-penal-h .more-btn{
	color:#999999;
	width:75px;
	height:35px;
	line-height:35px;
	font-size:12px;
	float:right;
	margin-top:50px;
	margin-right:80px;
	letter-spacing:0px;
	}
.case-penal-h .more-btn:hover{
	color:#333;
	}
.price-penal-c   ul li ,.price-logo,.price-info{
	height:85px;
	}
.price-penal-c ul li {
	width:225px;
	float:left;
	margin-top:40px;
	margin-left:20px;
	}
.price-penal-c .price-logo{
	float:left;
	width:85px;
	background-color:#e6e6e6;
	-moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius:6px;
	}
.price-penal-c .dianshang{
	background:url(../../img/web/price.png) 270px 92px;
	}
.price-penal-c .sns{
	background:url(../../img/web/price.png) 181px 92px;
	}
.price-penal-c .oa_erp{
	background:url(../../img/web/price.png) 92px 92px;
	}
.price-penal-c .tupian{
	background:url(../../img/web/price.png) -8px 92px;
	}
.price-penal-c .xiazai{
	background:url(../../img/web/price.png) 270px 182px;
	}
.price-penal-c .wangye{
	background:url(../../img/web/price.png) 181px 182px;
	}
.price-penal-c .cms{
	background:url(../../img/web/price.png) 92px 182px;
	}
.price-penal-c .shipin{
	background:url(../../img/web/price.png) -8px 182px;
	}
.price-penal-c .price-info{
	width:125px;
	float:right;
	padding-top:18px;
	}
.price-info .price-name ,price-intro{
	display:block;
	height:24px;
	line-height:24px;
	}
.price-info .price-name{
	color:#140c26;
	font-size:14px;
	}
.price-info .price-intro{
	color:#6a9ecc;
	font-size:10px;
	}
/*-------------------资费结束--------------------*/
/*-------------------下载--------------------*/
.download{
	height:372px;
	width:100%;
	background:url(../../img/web/1.png) no-repeat center center;
	}
.download-penal .download-penal-c{
	width:350px;
	height:320px;
	margin-top:30px;
	float:right;
	margin-right:30px;
	}
.download-penal-c .download-penal-h{
	height:100px;
	line-height:110px;
	font-size:28px;
	letter-spacing:1px;
	color:#140c26;
	}
.download-penal-c a:visited{
	color:#42a4c1;
	}
.download-penal-c a:hover{
	color:#333
	}
.download-penal-c  ul li {
	width:160px;
	height:48px;
	margin-left:10px;
	margin-top:8px;
	float:left;
	cursor:pointer;
	background-color:#FFF;
	color:#42a4c1;
	border-radius: 5px;
	}
.download-penal-c .d-ico{
	height:48px;
	width:40px;
	float:left;
	}
.download-penal-c .d-info{
	float:right;
	height:48px;
	width:115px;
	}
.win{
	background:url(../../img/web/Windows.png) right center no-repeat;
	}
.linux{
	background:url(../../img/web/linux.png) right center no-repeat;
	}
.ios{
	background:url(../../img/web/mac.png) right center no-repeat;
	}
.d-info lable , span{
	display:block;
	}
.d-info span{
	margin-top:2px;
	height:24px;
	font-size:15px;
	line-height:30px;
	}
.d-info lable{
	height:16px;
	font-size:9px;
	color:#888;
	}
.download-penal-c .download-more{
	border:1px #FFF solid;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
	border-radius:6px;
	background-color:transparent;
	text-align:center;
	}
.download-more a{
	color:#FFF;
	font-size:12px;
	display:block;
	width:148px;
	height:46px;
	line-height:46px;
	}
.download-more a:hover{
	color:#333;
	}
/*-------------------下载结束--------------------*/
/*-------------------文档--------------------*/
.document{
	background-color:#140c26;
	height:460px;
	}
.document .develop ,.index,.other{
	height:460px;
	float:left;
	padding-left:20px;
	}
.document .develop{
	width:332px;
	}
.document .index{
	width:336px;
	border-left:#0a0317 1px solid;
	border-right:#0a0317 1px solid;
	}
.document .other{
	width:332px;
	padding-left:20px;
	}
.document-h{
	height:140px;
	line-height:140px;
	text-align:center;
	font-size:28px;
	color:#c7151b;
	}
.document .document-title{
	color:#6a9ecc;
	font-size:16px;
	text-align:center;
	}
.document .document-list{
	padding:20px 5px 10px 5px;
	}
.document-list li{
	height:50px;
	background:url(../../img/sys.png) left center no-repeat;
	padding-left:30px;
	margin-top:5px;
	}
.document-list .document-logo,.document-info{
	height:50px;
	}
.document-list .document-info{
	width:260px;
	margin-left:8px;
	float:left;
	color:#FFF;
	}
.document-info p{
	height:42px;
	line-height:20px;
	font-size:12px;
	}
/*-------------------文档结束--------------------*/

/*------------------社区---------------------*/
.bbs{
	height:330px;
	padding-top:127px;
	}
.bbs .bbs-btn{
	width:305px;
	height:75px;
	line-height:75px;
	background-color:#c7151b;
	color:#FFF;
	float:left;
	margin-left:130px;
	font-size:22px;
	letter-spacing:1px;
	}
/*------------------社区结束---------------------*/

/*--------------------底部友情链接---------------*/
.guanzhu{	
	height:235px;
	background-color:#0d061c
	}
.guanzhu .foot-line{
	background-color:#090313;
    width:100%;
	position:absolute;
	height:2px;
	overflow:hidden;
	margin-top:235px;
	}
.guanzhu .foot-penal-top{
	height:235px;
	}
.foot-penal-top .top-left , .top-right{
	height:235px;
	}
.foot-penal-top .top-left{
	width:600px;
	float:left;
	padding:20px 20px 20px 20px;
	}
.top-left span{
	height:80px;
	line-height:80px;
	display:block;
	color:#FFF;
	font-size:18px;
	}
.foot-penal-top .top-right{
	width:320px;
	float:right;
	padding:60px 20px 20px 20px;
	}
.top-right .attention{
	height:30px;
	width:100px;
	line-height:30px;
	color:#FFF;
	font-size:18px;
	float:left;
	}
/*--------------------底部友情链接结束---------------------*/